*, *:before, *:after {
box-sizing: border-box;
}
svg text{
  color: brown;
}

.node {
  cursor: pointer;
  color: brown;
}

.node circle {
  fill: #fff;
  stroke: brown;
  stroke-width: 1.5px;
}

.node text {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: gold;
  stroke-width: 1.5px;
}
